<div class="floating-header">
    <div class="floating-header-logo">
        <a href="{{ site.url }}{{ site.baseurl }}">
            {% if site.logo_dark %}
                <img src="{{ site.baseurl }}{{ site.logo_dark }}" alt="{{ site.title }} icon" />
            {% endif %}
            <span>{{ site.title }}</span>
        </a>
    </div>
    <span class="floating-header-divider">&mdash;</span>
    <div class="floating-header-title">{{ page.title }}</div>
    <div class="floating-header-share">
        <div class="floating-header-share-label">Share this {% include point.html %}</div>
        <a class="floating-header-share-tw" href="https://twitter.com/share?text={{ page.title | url_encode }}&amp;url={{ site.uri }}{{ page.url }}"
            onclick="window.open(this.href, 'share-twitter', 'width=800,height=700');return false;">
            {% include twitter.html %}
        </a>
        <a class="floating-header-share-fb" href="https://www.facebook.com/sharer/sharer.php?u={{ site.uri }}{{ page.url }}"
            onclick="window.open(this.href, 'share-facebook','width=800,height=700');return false;">
            {% include facebook.html %}
        </a>
        <a class="floating-header-share-li" href="https://www.linkedin.com/sharing/share-offsite/?url={{ site.uri }}{{ page.url }}"
            onclick="window.open(this.href, 'share-linkedin','width=800,height=700');return false;">
            {% include linkedin.html %}
        </a>
        <a class="floating-header-share-tg" href="https://telegram.me/share/url?url={{ site.uri }}{{ page.url }}&amp;text={{ page.title | url_encode }}"
            onclick="window.open(this.href, 'share-telegram', 'width=800,height=700');return false;">
            {% include telegram.html %}
        </a>
        <a class="floating-header-share-wa" href="https://api.whatsapp.com/send?text={{ page.title | url_encode }} {{ site.uri | url_encode }}{{ page.url | url_encode }}"
            onclick="window.open(this.href, 'share-whatsapp', 'width=800,height=700');return false;">
            {% include whatsapp.html %}
        </a>
    </div>
    <progress class="progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>
