<form method="post" action="#" class="" id="subscribe">
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />

    <div class="form-group">
        <input class="subscribe-email" type="email" name="email" placeholder="youremail@example.com" required/>
    </div>
    <button id="submitButton" class="" type="submit" {% unless site.subscribers %}disabled{% endunless %}><span>Subscribe</span></button>
</form>
<div id="responseMessage" style="display: none; padding-top: 1%;">
    <p class="subscribe-overlay-description" id="responseMessageText"></p>
</div>